aiodns>=3.0.0
aiohttp>=3.8.1
beautifulsoup4>=4.9.3
colorama>=0.4.4
frida-tools>=10.8.0
#netfilterqueue (for linux devices only): sudo pip3 install --upgrade -U git+https://github.com/kti/python-netfilterqueue
kamene>=0.32
nuitka
paramiko>=2.11.0
pure-python-adb
pyfiglet>=0.8.post1
pynput>=1.7.3
pytelegrambotapi>=4.0.1
prettytable>=2.1.0
psutil>=5.8.0
pyinstaller
requests>=2.25.1
scapy>=2.4.5
# wmi # for windows process management
zstandard